*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-size: 20px;
}
h2{
    padding: 10px 10px 15px 0;
}
li{
    list-style: none;
    padding: 10px;
}
.navbar li{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav:hover{
    border-bottom: 1px solid #fff;
}
.navbar li{
    padding: 0px 15px;
}

.showcase{
    background-color: rgb(59, 59, 243);
    color:#fff;
    padding-top: 20px;
    position: relative;
}
.container1{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}
.container2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 250px;
    height: 350px;
    max-width: 1020px;
    padding-top: 40px;
    margin: 0 auto;
}
.description{
    height: 200px;
}
.desc-text{
    line-height: 1.8em;
    font-size: 14px;
    padding-bottom: 20px;
}
.form{
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width:350px;
    margin: 0 auto;
    height: 370px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    z-index: 100;
    position: relative;  
}
.container2::before,
.container2::after{
    content: "";
    position: absolute;
    height: 100px;
    bottom:-40px;
    right: 0;
    left: 0;
    background: rgb(59, 59, 243);;
    transform: skewY(-3deg);
}
.formctrl{
    margin-bottom:7px;
}
h3{
    padding: 20px;
}
input{
    border: 0;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid;
    width: 300px;
}
.txtbox input:focus{
    outline: none;
}
.button{
    background-color: rgb(59, 59, 243);
    padding: 7px;
    color:#fff;
    max-width: 100px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.btn-outline{
    border: 1px solid #fff;
    font-size: 13px;
    margin-top: 10px;
}
.button:hover{
    transform: scale(0.98);
}
.txtbox{
    margin: 10px 20px 0 20px;
}
.welcome{
    color: #000;
    margin-top: 130px ;
    max-width:500px ;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    font-size: 14px;
    font-weight: 550;
}
.stats{
    margin-top: 30px;
    max-width: 750px;
    margin-left: auto ;
    margin-right: auto;
}
.container1 p{
    color: rgb(59, 59, 243);
    font-weight: 600;
    
}
.statistic{
    text-align: center;
}
.section1{
    background-color:rgb(59, 59, 243);
    margin-top: 100px;
}
.cloud{
    max-width: 750px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}
footer{
    background-color: #000;
    color: #fff;
}
.sociallinks{
    display: flex;
}
.sociallinks i{
    padding: 15px;
    padding-right: 25px;
}
.sociallinks a:hover{
    color:rgb(59, 59, 243);

}
    


